*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    ::selection {
              color: none;
              background-color: #b493ff;
          }
}
/**/

body{
    color: white;
    animation: fadeInUp 0.8s ease-out;
}

form{
    display: flex;
    flex-direction: column;
    gap: 16px;

    button{
        background: linear-gradient(90deg,#893bff 0%, #9461d8 100%);
        ;
    }
}

input, button{
    padding: 12px 20px;
    border-radius: 12px;
    border: none;
    outline: none;
    font-size: 16px;
    width: 400px;
    
}

input{
    background-color: rgba(0, 0, 0, .1);
    color: rgba(0, 0, 0, .4);
}

input::placeholder{
    color: rgba(0, 0, 0, .6);
}

button{
    margin-top: 8px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.8);
    padding: 16px;
    cursor: pointer;
    transition: all .3s;
    text-decoration: none;
}

button:hover{
    transform: translateY(-2px);
}

h1 {
    font-size: 70px;
    margin-bottom: 32px;
    text-align: center;
    font-weight: 700;
}

h2 {
    font-size: 60px;
    margin-bottom: 32px;
    text-align: center;
    font-weight: 700;
}

p{
    margin-bottom: 32px;
    width: 400px;
    text-align: center;
    color:rgba(255, 255, 255, .8);
}

.containerPai {
    width: 100%;
    height: 100vh;
    background-color:#b493ff;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card{
    width: 80%;
    height: 90vh;
    background-color: #ffffff;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 32px;
    padding: 32px, 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    animation: fadeInUp 0.8s ease-out;

    h2 {
        color: #8A3FFC;
    }
}
.direita, .esquerda{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.formLogin, .facaLogin, 
    .formCadastro, .facaCadastro{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.facaLogin, .facaCadastro{
    position: absolute;

    h2 , p {
        color: rgba(255, 255, 255, 0.8);
        
    }

    button{
        background-color: rgba(255, 255, 255, .2);
        border: 2px solid rgba(0, 0, 0, .5);
    }
}


.card::after{
    width: 100%;
    height: 100%;
    content: "";
    background: linear-gradient(135deg, #7c3aed 0%, #8b5cf6 100%);
    opacity: 100;
    position: absolute;
    top: 0 ;
    right: 0;
    background-size: cover;
    background-position: center;
    z-index: 0;
}

.card.LoginActive .facaLogin{
    opacity: 0;
    pointer-events: none;
}

.card.LoginActive .facaCadastro{
    transition: all .3s .3s;
    transform: translateX(0);
    opacity: 1;
}

.card.LoginActive .formLogin{
    transition: all .3s .3s;
    opacity: 1;
}

.card.LoginActive .formCadastro{
    opacity: 0;
    pointer-events: none; 
}

.card.LoginActive::after{
    transform: translateX(50%);
}

.card.cadastroActive .facaCadastro{
    opacity: 0;
    pointer-events: none;
}

.card.cadastroActive .facaLogin{
    transition: all .3s .3s;
    transform: translateX(0);
    opacity: 1;
}

.card.cadastroActive .formCadastro{
    transition: all .3s .3s;
    opacity: 1;
}

.card.cadastroActive .formLogin{
    opacity: 0;
    pointer-events: none; 
}

.card.cadastroActive::after{
    transform: translateX(-50%);
}

.card::after{
    transition: all .5s;
}

.facaCadastro{
    transition: all .3s 0;
    transform: translateX(200%);
    opacity: 0;
}

.formLogin{
    opacity: 0;
    transition: all .3s 0;
}


.facaLogin{
    transition: all .3s 0;
    transform: translateX(200%);
    opacity: 0;
}

.formCadastro{
    opacity: 0;
    transition: all .3s 0;
}

.footer-bottom1 p {
    color:#8b5cf6;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-weight: 600;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}